<div class="container">
  <div class="card border-light text-center mt-5">
    <div class="card-body">
      <h5 class="card-title mt-3 mb-5"> MASCOTAS </h5>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" [routerLink]="['/mascota/crear']" id="linkCrearMascota" class="btn btn-success mb-2"> Registrar mascota </button>
      </div>
      <div class="table-responsive">
        <table class="table align-middle table-striped">
          <caption>Listado de mascotas registradas en el sistema</caption>
          <thead>
            <tr>
              <th *ngFor="let columna of columnas" scope="col"> {{ columna }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mascota of mascotas">
              <th scope="row">{{ mascota.id }}</th>
              <td>{{ mascota.codigoMascota }}</td>
              <td>{{ mascota.nombre }}</td>
              <td>{{ mascota.especie }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>